{% extends "layouts/auth.html.twig" %}

{% block page_title %}
	{{ __('login', true) }}
{% endblock %}

{% block page_content %}

	{% if auth_attempts_exceeded() %}
		{% include "partials/alert.html.twig" with {
            type: 'danger',
            message: __('auth_attempts_exceeded', true),
            display: 'default',
            dismiss: false
        } %}
	{% endif %}

	<div class="card shadow p-4">
		<form method="post" action="{{ url('authenticate') }}">
			{{ csrf_token_input()|raw }}

			<div class="form-group">
				<label for="email">{{ __('email', true) }}</label>
				<input type="email" id="email" name="email" class="form-control {{ errors.email ? 'is-invalid' }}" value="{{ inputs.email ?: '' }}" aria-describedby="email-error">

				{% if errors.email is not empty %}
					<div id="email-error" class="invalid-feedback">
						{{ errors.email|raw }}
					</div>
				{% endif %}
			</div>

			<div class="form-group">
				<label for="password">{{ __('password', true) }}</label>

				<div class="d-flex align-items-center">
					<input type="password" id="password" name="password" class="form-control {{ errors.password ? 'is-invalid' }}" value="{{ inputs.password ?: '' }}" aria-describedby="password-error">

					<span class="btn" id="password-toggler" title="Toggle display">
						<i class="fa fa-eye-slash"></i>
					</span>
				</div>

				{% if errors.password is not empty %}
					<div id="password-error" class="invalid-feedback d-block">
						{{ errors.password|raw }}
					</div>
				{% endif %}
			</div>

			<div class="d-flex flex-column flex-lg-row justify-content-lg-between justify-content-center mb-3 mb-lg-0 mx-auto">
				<div class="form-group custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="remember" name="remember">
					<label class="custom-control-label" for="remember">{{ __('remember', true) }}</label>
				</div>

				<a href="{{ url('password/forgot') }}">
					{{ __('forgot_password', true) }}
				</a>
			</div>

			<button type="submit" class="btn btn-block btn-primary loading" {{ auth_attempts_exceeded() ? 'disabled' }}>
				{{ __('submit', true) }}
			</button>
		</form>

		<p class="mt-4 text-center">
			{{ __('no_account', true) }}
			<a href="{{ url('signup') }}">{{ __('signup_here', true) }}</a>
		</p>
	</div>

{% endblock %}
