{% extends "layouts/auth.html.twig" %}

{% block title %}
	{{ __('signup', true) }}
{% endblock %}

{% block body %}
	<div class="card shadow p-4">
		<form method="post" action="{{ url('register') }}">
			<div class="form-group">
				<label for="name">{{ __('name', true) }}</label>
				<input type="text" class="form-control {{ errors.name ? 'is-invalid'  }}" value="{{ inputs.name ?: '' }}" aria-describedby="name-error" name="name" id="name" autofocus>

				{% if errors.name is not empty %}
					<div id="name-error" class="invalid-feedback">
						{{ errors.name|raw }}
					</div>
				{% endif %}
			</div>

			<div class="form-group">
				<label for="email">{{ __('email', true) }}</label>
				<input type="email" id="email" name="email" class="form-control {{ errors.email ? 'is-invalid'  }}" value="{{ inputs.email ?: '' }}" aria-describedby="email-error">

				{% if errors.email is not empty %}
					<div id="email-error" class="invalid-feedback">
						{{ errors.email|raw }}
					</div>
				{% endif %}
			</div>

			<div class="form-group">
				<label for="phone">{{ __('phone', true) }}</label>
				<input type="text" class="form-control {{ errors.phone ? 'is-invalid'  }}" value="{{ inputs.phone ?: '' }}" aria-describedby="phone-error" name="phone" id="phone">

				{% if errors.phone is not empty %}
					<div id="phone-error" class="invalid-feedback">
						{{ errors.phone|raw }}
					</div>
				{% endif %}
			</div>

			<div class="form-group">
				<label for="address">{{ __('address', true) }}</label>
				<input type="text" class="form-control {{ errors.address ? 'is-invalid'  }}" name="address" id="address" value="{{ inputs.address ?: '' }}" aria-describedby="address-error">

				{% if errors.address is not empty %}
					<div id="address-error" class="invalid-feedback">
						{{ errors.address|raw }}
					</div>
				{% endif %}
			</div>

			<div class="form-group">
				<label for="company">{{ __('company', true) }}</label>
				<input type="text" class="form-control {{ errors.company ? 'is-invalid'  }}" name="company" id="company" value="{{ inputs.company ?: '' }}" aria-describedby="company-error">

				{% if errors.company is not empty %}
					<div id="company-error" class="invalid-feedback">
						{{ errors.company|raw }}
					</div>
				{% endif %}
			</div>

            <div class="form-group">
                <label for="country">{{ __('country', true) }}</label>
                <select id="country" name="country" class="custom-select">
                    {% for country in countries %}
                    {% if country is not null %}
                        {% for key, value in country %}
                    <option value="{{ key }}">
                        {{ value }} 
                    </option>
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

			<div class="form-group">
				<label for="password">{{ __('password', true) }}</label>

				<div class="d-flex align-items-center">
					<input type="password" id="password" name="password" class="form-control {{ errors.password ? 'is-invalid'  }}" value="{{ inputs.password ?: '' }}" aria-describedby="password-error">

					<span class="btn" id="password-toggler" title="Toggle display">
						<i class="fa fa-eye-slash"></i>
					</span>
				</div>

				{% if errors.password is not empty %}
					<div id="password-error" class="invalid-feedback d-block">
						{{ errors.password|raw }}
					</div>
				{% endif %}
			</div>

			<button type="submit" class="btn btn-block btn-primary loading">
				{{ __('submit', true) }}
			</button>
		</form>

		<p class="mt-4 text-center">
			{{ __('have_account', true) }}
			<a href="{{ url('login') }}">{{ __('login_here', true) }}</a>
		</p>
	</div>
{% endblock %}
