{% extends "layouts/auth.html.twig" %}

{% block title %}
	{{ __('signup') }}
{% endblock %}

{% block body %}
	<div class="card shadow p-4">
		<form method="post" action="{{ url('register') }}">
			{{ csrf_token_input()|raw }}

			<div class="mb-3">
				<label for="name" class="form-label">{{ __('name') }}</label>
				<input type="text" class="form-control {{ errors.name ? 'is-invalid'  }}" value="{{ inputs.name ?: '' }}" aria-describedby="name-error" name="name" id="name" maxlenght="50" autofocus>

				{% if errors.name is not empty %}
                <div id="name-error" class="invalid-feedback">
                    {{ errors.name|raw }}
                </div>
				{% endif %}
			</div>

			<div class="mb-3">
				<label for="email" class="form-label">{{ __('email') }}</label>
				<input type="email" id="email" name="email" class="form-control {{ errors.email ? 'is-invalid'  }}" value="{{ inputs.email ?: '' }}" aria-describedby="email-error" maxlenght="50">

				{% if errors.email is not empty %}
                <div id="email-error" class="invalid-feedback">
                    {{ errors.email|raw }}
                </div>
				{% endif %}
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">{{ __('password') }}</label>

				<div class="d-flex align-items-center">
					<input type="password" id="password" name="password" class="form-control {{ errors.password ? 'is-invalid'  }}" value="{{ inputs.password ?: '' }}" aria-describedby="password-error" maxlenght="50">

					<span class="btn" id="password-toggler" title="Toggle display">
						<i class="fa fa-eye-slash"></i>
					</span>
				</div>

				{% if errors.password is not empty %}
                <div id="password-error" class="invalid-feedback d-block">
                    {{ errors.password|raw }}
                </div>
				{% endif %}
			</div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary spinner">
                    {{ __('submit') }}
                </button>
            </div>
		</form>

		<p class="mt-4 text-center">
			{{ __('have_account') }}
			<a href="{{ url('login') }}">{{ __('login_here') }}</a>
		</p>
	</div>
{% endblock %}
