<!DOCTYPE html>
<html lang="{{ config('app.lang') }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table {
            width: 100%;
            font-size: .9rem;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: .5em;
        }

        thead > tr > th {
            font-weight: bold;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: between;
        }

        .header h4 {
            margin-bottom: .2em;
            font-size: 1.1rem;
        }

        .header p {
            margin: .2em 0;
            font-size: .9rem;
        }

        .header .header__right {
            text-align: right;
        }

        h1 {
            margin-bottom: 1em;
            font-size: 1.2rem;
            text-align: center;
        }

        .total {
            text-align: right;
        }

        strong {
            margin-left: 1em;
        }
    </style>
</head>

<body>
    <h1>{{ __('invoice')|upper }} {{ data.invoice_id }}</h1>

    <div class="header">
        <div class="header__left">
            <h4>{{ sender.company }}</h4>
            <p>{{ sender.country }}, {{ sender.address }}</p>
            <p>{{ sender.email }}</p>
            <p>{{ sender.phone }}</p>
        </div>

        <div class="header__right">
            <h4>{{ recipient.company }}</h4>
            <p>{{ recipient.country }}, {{ recipient.address }}</p>
            <p>{{ recipient.email }}</p>
            <p>{{ recipient.phone }}</p>

            <br>

            <p>{{ __('created_at') }}: {{ date_helper(data.created_at) }}</p>
            <p>{{ __('expires_at') }}: {{ data.expire is empty ? '-' : date_helper(data.expire) }}</p>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th align="left">#</th>
                <th align="left">{{ __('product') }}</th>
                <th align="left">{{ __('quantity') }}</th>
                <th align="left">{{ __('price') }}</th>
                <th align="left">{{ __('total') }}</th>
            </tr>
        </thead>

        <tbody>
            {% set total_price = 0 %}

            {% for product in data.products %}
            {% set total_price = total_price + (product.price * product.quantity) %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }} {{ data.currency }}</td>
                <td>{{ product.price * product.quantity }} {{ data.currency }}</td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="5" align="right">
                    {{ __('sub_total') }}: <strong>{{ total_price }} {{ data.currency }}</strong> <br>
                    {{ __('tax') }}: <strong>{{ data.tax }} %</strong> <br>
                </td>
            </tr>
        </tbody>
    </table>

    {% set total = data.tax != 0 ? total_price + ((total_price * data.tax) / 100) : total_price %}
                    
    <p class="total">{{ __('total') }}: <strong>{{ total }} {{ data.currency }}</strong></p>
</body>

</html>