<div class="card-footer d-flex align-items-center justify-content-between">
    <span>{{ __('total_results') }} <span class="font-weight-bold">{{ data.getTotalItems() }}</span></span>
    <span>{{ __('showing') }}
        <span class="font-weight-bold">{{ data.getPageTotalItems() == 0 ? data.getFirstItem() : data.getFirstItem() + 1 }}</span>
        {{ __('to') }}
        <span class="font-weight-bold">{{ data.getPageTotalItems() + data.getFirstItem() }}</span>
    </span>

    <nav>
        <ul class="pagination justify-content-center mb-0">
            {% if data.hasLess() %}
                <li class="page-item">
                    <a class="page-link" href="{{ data.previousPageUrl() }}">{{ __('previous') }}</a>
                </li>
            {% endif %}

            {% if data.totalPages() > 1 %}
                {% for i in range(1, data.totalPages()) %}
                    <li class="page-item {{ data.currentPage() == i ? 'active disabled' }}">
                        <a class="page-link" href="{{ data.pageUrl(i) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            {% if data.hasMore() %}
                <li class="page-item">
                    <a class="page-link" href="{{ data.nextPageUrl() }}">{{ __('next') }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>