<nav>
	<ul class="pagination justify-content-center mb-0">
		{% if pagination.hasLess() %}
			<li class="page-item">
				<a class="page-link" href="{{ pagination.previousPageUrl() }}">{{ __('previous') }}</a>
			</li>
		{% endif %}

		{% if pagination.totalPages() > 1 %}
			{% for i in range(1, pagination.totalPages()) %}
				<li class="page-item {{ pagination.currentPage() == i ? 'active disabled' }}">
					<a class="page-link" href="{{ pagination.pageUrl(i) }}">{{ i }}</a>
				</li>
			{% endfor %}
		{% endif %}

		{% if pagination.hasMore() %}
			<li class="page-item">
				<a class="page-link" href="{{ pagination.nextPageUrl() }}">{{ __('next') }}</a>
			</li>
		{% endif %}
	</ul>
</nav>
