{% extends "layouts/admin.html.twig" %}

{% block title %}
	{{ __('medias') ~ ' | Administration' }}
{% endblock %}

{% block body %}
    <metrics-card>
        <metrics-card-item 
            title="{{ __('total') }}" 
            icon="fa fa-folder-open fa-2x" 
            data="{{ data.getTotalItems() }}"
            columns="4">
        </metrics-card-item>

        <metrics-card-item 
            title="{{ __('images') }}" 
            icon="fa fa-image fa-2x" 
            data="{{ images }}"
            columns="2">
        </metrics-card-item>

        <metrics-card-item 
            title="{{ __('videos') }}" 
            icon="fa fa-film fa-2x" 
            data="{{ videos }}"
            columns="2">
        </metrics-card-item>

        <metrics-card-item 
            title="{{ __('audios') }}" 
            icon="fa fa-music fa-2x" 
            data="{{ audios }}"
            columns="2">
        </metrics-card-item>

        <metrics-card-item 
            title="{{ __('others') }}" 
            icon="fa fa-copy fa-2x" 
            data="{{ others }}"
            columns="2">
        </metrics-card-item>
    </metrics-card>

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-between">
                <span>{{ __('medias') }}</span>

                <div class="d-flex flex-lg-row flex-column">
                    <span class="mr-md-2 mt-lg-0 mt-2">
                        <input type="search" class="form-control" id="media-search" placeholder="{{ __('search') }}" data-url="{{ route('medias.search.q') }}" value="{{ q ?: '' }}">
                    </span>

                    <span class="mt-lg-0 mt-2">
                        <upload-modal action="{{ route('medias.create') }}" multiple="multiple">
                            <button class="btn btn-outline-dark">{{ __('new') }}</button>
                        </upload-modal>

                        <button class="btn btn-danger ml-2" id="bulk-delete" data-url="{{ route('medias.delete') }}">
                            {{ __('bulk_delete') }}
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="select-all">
                                <label class="custom-control-label" for="select-all">{{ __('select_all') }}</label>
                            </div>
                        </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                                {% for data in data.getItems() %}
                                <div class="col mb-3">
                                    <div class="card h-100 lightbox" data-media="{{ data.filename }}" data-media-url="{{ data.url }}">
                                        {% if get_file_extension(data.filename) in MEDIA_TYPE[0] %}
                                        <img class="card-img-top" src="{{ data.url }}" width="200" height="200" title="{{ __('click_to_enlarge') }}">
                                        {% elseif get_file_extension(data.filename) in MEDIA_TYPE[1] %}
                                        <video class="card-img-top" width="200" height="200" title="{{ __('click_to_enlarge') }}">
                                            <source src="{{ data.url }}"></source>
                                        </video>
                                        {% elseif get_file_extension(data.filename) in MEDIA_TYPE[2] %}
                                        <div class="d-flex align-items-center justify-content-center p-5">
                                            <audio controls>
                                                <source src="{{ data.url }}"></source>
                                            </audio>
                                        </div>
                                        {% else %}
                                        <div class="d-flex align-items-center justify-content-center p-5">
                                            <i class="fa fa-file fa-6x text-dark"></i>
                                        </div>
                                        {% endif %}

                                        <div class="card-body text-center p-2" style="z-index: 111111">
                                            <p class="mb-0">{{ data.filename }}</p>
                                            <p class="mb-0 text-muted">{{ date_helper(data.created_at, 'Y-m-d') }}</p>

                                            <a class="btn text-dark p-1" href="{{ route('medias.read', data.id) }}" title="{{ __('details') }}">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <a class="btn text-dark p-1" href="{{ route('medias.edit', data.id) }}" title="{{ __('edit') }}">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn text-dark p-1" href="{{ route('medias.download', data.id) }}" title="{{ __('download') }}">
                                                <i class="fa fa-download"></i>
                                            </a>

                                            <delete-item action="{{ route('medias.delete', data.id) }}">
                                                <a class="btn text-danger p-1" title="{{ __('delete') }}">
                                                    <i class="fa fa-trash-alt"></i>
                                                </a>
                                            </delete-item>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="{{ data.id }}" data-id="{{ data.id }}">
                                                <label class="custom-control-label" for="{{ data.id }}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% include "partials/footer.html.twig" with {data: data} %}
    </div>

    <div id="lightbox" class="min-vh-100">
        <div class="container">
            <div class="d-flex align-items-center justify-content-center">
                <div class="card border-0">
                    <img class="card-img-top">
                    <video controls class="card-img-top" id="lightbox-video"></video>
                    <audio controls class="card-img-top"></audio>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var allowedExtensions = {{ MEDIA_TYPE|json_encode()|raw }}

        function getExtension(filename) {
            filename = filename.split('.')
            return filename[filename.length - 1]
        }

        function checkExtension(i, filename) {
            return allowedExtensions[i].includes(getExtension(filename))
        }

        document.querySelectorAll('.lightbox .card-img-top').forEach(element => {
            element.addEventListener('click', event => {
                if (checkExtension(0, element.parentElement.dataset.media)) {
                    document.querySelector('#lightbox img').classList.remove('d-none')
                    document.querySelector('#lightbox img').setAttribute('src', element.parentElement.dataset.mediaUrl)

                    document.querySelector('#lightbox video').classList.add('d-none')
                    document.querySelector('#lightbox audio').classList.add('d-none')
                } else if (checkExtension(1, element.parentElement.dataset.media)) {
                    document.querySelector('#lightbox video').classList.remove('d-none')
                    document.querySelector('#lightbox video').setAttribute('src', element.parentElement.dataset.mediaUrl)

                    document.querySelector('#lightbox img').classList.add('d-none')
                    document.querySelector('#lightbox audio').classList.add('d-none')
                } else if (checkExtension(2, element.parentElement.dataset.media)) {
                    document.querySelector('#lightbox audio').classList.remove('d-none')
                    document.querySelector('#lightbox audio').setAttribute('src', element.parentElement.dataset.mediaUrl)

                    document.querySelector('#lightbox img').classList.add('d-none')
                    document.querySelector('#lightbox video').classList.add('d-none')
                }

                document.querySelector('#lightbox').setAttribute('style', 'display: block')
            })
        })

        document.querySelector('#lightbox').addEventListener('click', event => {
            document.querySelector('#lightbox').setAttribute('style', 'display: none')

            if (document.querySelector('#lightbox-video')) {
                document.querySelector('#lightbox-video').pause();
            }
        })
    </script>
{% endblock %}