{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ config('app.lang') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block title %}{% endblock %}">
        <link rel="stylesheet" href="{{ resources('vendor/bootstrap-5.1.1-dist/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ assets('css/style.css') }}"> 
        <title>{{ block("title") }}</title>
    </head>

    <body>
        <div class="container py-5" style="width: 430px">
            <h1 class="pb-3 text-center">{{ block("title") }}</h1>

            {% if alert is not empty %}
                {% include "partials/alert.html.twig" with {alert: alert} %}
            {% endif %}

            {% block body %}{% endblock %}

            <div class="mt-4 text-center">
                <a href="{{ url('/') }}">{{ __('back_home') }}</a>
            </div>
        </div>

        <script defer src="{{ resources('vendor/fontawesome-5.13-all.js') }}"></script>
        <script defer src="{{ resources('vendor/bootstrap-5.1.1-dist/bootstrap.bundle.min.js') }}"></script>
        <script defer src="{{ assets('js/index.js') }}"></script>
    </body>
</html>
{% endapply %}