{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ config('app.lang') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}{% endblock %}">
        <link rel="stylesheet" href="{{ resources('vendor/bootstrap-5.1.1-dist/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ assets('css/style.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% if alert is not empty %}
            {% include "partials/alert.html.twig" with {alert: alert} %}
        {% endif %}

        {% block content %}{% endblock %}

        <script defer src="{{ resources('vendor/fontawesome-5.13-all.js') }}"></script>
        <script defer src="{{ resources('vendor/bootstrap-5.1.1-dist/bootstrap.bundle.min.js') }}"></script>
        <script defer src="{{ assets('js/index.js') }}"></script>
    </body>
</html>
{% endapply %}
