{% extends "layouts/admin.html.twig" %}

{% block page_title %}
	{{ config('app.name') ~ ' | Administration' }}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ resources('vendor/morris/morris.css') }}">
{% endblock %}

{% block page_content %}
    <metrics-cards>
        {% if auth('role') == USER_ROLE[0] %}
        <metric-card-item 
            title="{{ __('users') }}" 
            icon="fa fa-users fa-2x" 
            data="{{ total_users }}"
            columns="4">
        </metric-card-item>
        {% endif %}

        <metric-card-item 
            title="{{ __('medias') }}" 
            icon="fa fa-photo-video fa-2x" 
            data="{{ total_medias }}"
            columns="4">
        </metric-card-item>
    </metrics-cards>

	{% if auth('role') != USER_ROLE[1] %}
		<div class="row mb-4">
			<div class="col-md-4">
				<div class="card shadow-sm mb-4 mb-md-0">
					<div class="card-header d-flex justify-content-between align-items-center">
						<span>{{ __('all_users') }}</span>

						<a href="{{ route('users.index') }}" class="btn btn-outline-dark">
							{{ __('view_all') }}
						</a>
					</div>

					<div class="card-body">
                        {% set data = [ 
                            {'label': 'Active', 'value': active_users}, 
                            {'label': 'Inactive', 'value': total_users - active_users}
                        ] %}

						<donut-chart el="users-donut" data={{ data|json_encode() }}></donut-chart>
					</div>
				</div>
			</div>

			<div class="col-md-8">
				<div class="card shadow-sm">
					<div class="card-header d-flex justify-content-between align-items-center ">
						<span>{{ __('registered_users') }}</span>

						<div class="d-flex">
							<select id="users-trends" class="custom-select" data-url="{{ url('api/metrics/users') }}">
								<option value="weeks">{{ __('this_week') }}</option>
								<option value="months" selected>{{ __('this_year') }}</option>
								<option value="last-weeks">{{ __('last_4_weeks') }}</option>
								<option value="last-years">{{ __('last_5_years') }}</option>
							</select>
						</div>
					</div>

					<div class="card-body">
                        {% set keys, labels = ['value'], ['Count'] %}

						<bars-chart 
                            id='users-bars-chart' 
                            el='users-bars' 
                            data={{ users_metrics|json_encode() }} 
                            xkey='month' 
                            ykeys={{ keys|json_encode() }} 
                            labels={{ labels|json_encode() }}>
                        </bars-chart>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="row mb-4">
		<div class="col-md-6">
			<div class="card shadow-sm mb-4 mb-md-0">
				<div class="card-header">
					<div class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-between">
						<span>{{ __('latest_messages') }}</span>

						<div class="d-flex flex-lg-row flex-column mt-lg-0 mt-2">
							<send-message action="{{ route('messages.create') }}" recipient="0" modal_title="{{ __('new') }}">
								<button class="btn btn-outline-dark mr-2" title="{{ __('new') }}">
									{{ __('new') }}
								</button>
							</send-message>

							<a href="{{ route('messages.index') }}" class="btn btn-outline-dark">
								{{ __('view_all') }}
							</a>
						</div>
					</div>
				</div>

				<div class="card-body">
					<table class="table table-striped table-hover mb-0">
						<thead>
							<tr>
								<th scope="col"><i class="fa fa-sort"></i>{{ __('sender') }}</th>
								<th scope="col"><i class="fa fa-sort"></i>{{ __('message') }}</th>
								<th scope="col"><i class="fa fa-sort"></i>{{ __('created_at') }}</th>
								<th scope="col"></th>
							</tr>
						</thead>

						<tbody>
							{% for message in messages %}
								<tr>
									<td>{{ message.sender_email }}</td>
									<td>{{ message.message }}</td>
									<td>{{ time_elapsed(notification.created_at) }}</td>
									<td>
										<update-item action="{{ route('messages.update', message.id) }}">
											<button type="submit" class="btn text-dark p-1 {{ message.recipient_read ? 'disabled' }}" title="{{ not message.recipient_read ? __('mark_as_read') }}">
												<i class="fa fa-eye{{ not message.recipient_read ? '-slash' }}"></i>
											</button>
										</update-item>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card shadow-sm">
				<div class="card-header d-flex justify-content-between align-items-center ">
					<span>{{ __('latest_notifications') }}</span>

					<div class="d-flex flex-lg-row flex-column mt-lg-0 mt-2">
						<create-notification action="{{ route('notifications.create') }}">
							<button class="btn btn-outline-dark mr-2">{{ __('create') }}</button>
						</create-notification>

						<a href="{{ route('notifications.index') }}" class="btn btn-outline-dark">
							{{ __('view_all') }}
						</a>
					</div>
				</div>

				<div class="card-body">
					<table class="table table-striped table-hover mb-0">
						<thead>
							<tr>
								<th scope="col"><i class="fa fa-sort"></i> {{ __('message') }}</th>
								<th scope="col"><i class="fa fa-sort"></i> {{ __('created_at') }}</th>
								<th scope="col"></th>
							</tr>
						</thead>

						<tbody>
							{% for notification in notifications %}
								<tr>
									<td>{{ notification.message }}</td>
									<td>{{ time_elapsed(notification.created_at) }}</td>
									<td>
										<update-item action="{{ route('notifications.update', notification.id) }}">
											<button type="submit" class="btn text-dark p-1 {{ notification.status ? 'disabled' }}" title="{{ not notification.status ? __('mark_as_read') }}">
												<i class="fa fa-eye{{ not notification.status ? '-slash' }}"></i>
											</button>
										</update-item>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script defer src="{{ resources('vendor/morris/morris.min.js') }}"></script>
	<script defer src="{{ resources('vendor/morris/raphael-min.js') }}"></script>
{% endblock %}
