{% extends "layouts/admin.html.twig" %}

{% block title %}
	{{ __('details') ~ ' | Administration' }}
{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">{{ __('details') }}</div>

        <div class="card-body">
            <div class="form-group row">
                <p class="col-sm-2 col-form-label">ID</p>
                <div class="col-form-label col-sm-10 font-weight-bold">{{ data.id }}</div>
            </div>

            <div class="form-group row">
                <p class="col-sm-2 col-form-label">{{ __('invoice') }}</p>
                <div class="col-form-label col-sm-10 font-weight-bold">{{ data.invoice_id }}</div>
            </div>

            <div class="form-group row">
                <p class="col-sm-2 col-form-label">{{ __('company') }}</p>
                <div class="col-form-label col-sm-10 font-weight-bold">{{ data.company }}</div>
            </div>

            <div class="form-group row">
                <p class="col-sm-2 col-form-label">{{ __('products') }}</p>
                <div class="col-form-label col-sm-10 font-weight-bold">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover mb-0">
                            <thead>
                                <tr>
                                    <th scope="col"><i class="fa fa-sort"></i> {{ __('name') }}</th>
                                    <th scope="col"><i class="fa fa-sort"></i> {{ __('quantity') }}</th>
                                    <th scope="col"><i class="fa fa-sort"></i> {{ __('price') }}</th>
                                    <th scope="col"><i class="fa fa-sort"></i> {{ __('total') }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for product in data.products %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.price }} {{ config('app.currency') }}</td>
                                    <td>{{ product.price * product.quantity }} {{ config('app.currency') }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <p class="col-sm-2 col-form-label">{{ __('sub_total') }}</p>
                <div class="col-form-label col-sm-10 font-weight-bold">{{ data.sub_total }}</div>
            </div>

            <div class="form-group row">
                <p class="col-sm-2 col-form-label">{{ __('tax') }} (%)</p>
                <div class="col-form-label col-sm-10 font-weight-bold">{{ data.tax }}</div>
            </div>

            <div class="form-group row">
                <p class="col-sm-2 col-form-label">{{ __('total') }}</p>
                <div class="col-form-label col-sm-10 font-weight-bold">{{ data.total_price }}</div>
            </div>

            <div class="form-group row">
                <p class="col-form-label col-sm-2">{{ __('status') }}</p>

                <div class="col-form-label col-sm-10 font-weight-bold">
                    {% if data.status == 'paid' %}
                    <span class="badge badge-success">{{ __(data.status) }}</span>
                    {% elseif data.status == 'pending' %}
                    <span class="badge badge-secondary">{{ __(data.status) }}</span>
                    {% else %}
                    <span class="badge badge-danger">{{ __(data.status) }}</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <p class="col-sm-2 col-form-label">{{ __('created_at') }}</p>
                <div class="col-form-label col-sm-10 font-weight-bold">
                    {{ date_helper(data.created_at) }}
                </div>
            </div>

            <div class="form-group row">
                <p class="col-sm-2 col-form-label">{{ __('updated_at') }}</p>
                <div class="col-form-label col-sm-10 font-weight-bold">
                    {{ data.updated_at != data.created_at ? date_helper(data.updated_at) : '-' }}
                </div>
            </div>

            <div class="form-group row">
                <p class="col-sm-2 col-form-label">{{ __('expires_at') }}</p>
                <div class="col-form-label col-sm-10 font-weight-bold">{{ data.expire is empty ? '-' : date_helper(data.expire) }}</div>
            </div>
        </div>

        <div class="card-footer">
            {% if auth('role') == USER_ROLE[0] %}
            <a href="{{ route('invoices.edit', data.id) }}" class="btn btn-outline-dark">
                {{ __('edit') }}
            </a>

            <a href="{{ route('invoices.new') }}" class="btn btn-outline-dark mx-2">
                {{ __('new') }}
            </a>

            <delete-item action="{{ route('invoices.delete', data.id) }}">
                <a class="btn btn-danger">{{ __('delete') }}</a>
            </delete-item>
            {% endif %}
            
            <a href="{{ route('invoices.download', data.id) }}" class="btn btn-outline-dark mx-2">
                {{ __('download') }}
            </a>

            <a href="{{ route('invoices.index') }}" class="btn btn-outline-dark">
                {{ __('cancel') }}
            </a>
        </div>
    </div>
{% endblock %}