{% extends "layouts/admin.html.twig" %}

{% block title %}
	{{ __('new') ~ ' | Administration' }}
{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">{{ __('new') }}</div>

        <form method="post" action="{{ route('users.create') }}">
            {{ csrf_token_input()|raw }}

            <div class="card-body">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">{{ __('name') }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control {{ errors.name ? 'is-invalid' }}" value="{{ inputs.name ?: '' }}" aria-describedby="name-error" name="name" id="name" autofocus>
                        
                        {% if errors.name is not empty %}
                        <div id="name-error" class="invalid-feedback">
                            {{ errors.name|raw }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">{{ __('email') }}</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control {{ errors.email ? 'is-invalid' }}" value="{{ inputs.email ?: '' }}" aria-describedby="email-error" name="email" id="email">

                        {% if errors.email is not empty %}
                        <div id="email-error" class="invalid-feedback">
                            {{ errors.email|raw }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="phone" class="col-sm-2 col-form-label">{{ __('phone') }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control {{ errors.phone ? 'is-invalid' }}" value="{{ inputs.phone ?: '' }}" aria-describedby="phone-error" name="phone" id="phone">

                        {% if errors.phone is not empty %}
                        <div id="phone-error" class="invalid-feedback">
                            {{ errors.phone|raw }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="address" class="col-sm-2 col-form-label">{{ __('address') }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control {{ errors.address ? 'is-invalid' }}" name="address" id="address" value="{{ inputs.address ?: '' }}" aria-describedby="address-error">

                        {% if errors.address is not empty %}
                            <div id="address-error" class="invalid-feedback">
                                {{ errors.address|raw }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if auth('role') == USER_ROLE[0] %}
                <div class="form-group row">
                    <label for="company" class="col-sm-2 col-form-label">{{ __('company') }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control {{ errors.company ? 'is-invalid' }}" name="company" id="company" value="{{ inputs.company ?: '' }}" aria-describedby="company-error">

                        {% if errors.company is not empty %}
                            <div id="company-error" class="invalid-feedback">
                                {{ errors.company|raw }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <div class="form-group row">
                    <label for="country" class="col-sm-2 col-form-label">{{ __('country') }}</label>
                    <div class="col-sm-10">
                        <select id="country" name="country" class="custom-select">
                            {% for country in countries %}
                            {% if country is not null %}
                                {% for key, value in country %}
                            <option value="{{ key }}">
                                {{ value }} 
                            </option>
                                {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">{{ __('password') }}</label>

                    <div class="col-sm-10">
                        <div class="d-flex align-items-center">
                            <input type="password" id="password" name="password" class="form-control {{ errors.password ? 'is-invalid' }}" value="{{ inputs.password ?: '' }}" aria-describedby="password-error">

                            <span class="btn" id="password-toggler" title="Toggle display">
                                <i class="fa fa-eye-slash"></i>
                            </span>
                        </div>
                        
                        {% if errors.password is not empty %}
                        <div id="password-error" class="invalid-feedback d-block">
                            {{ errors.password|raw }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% if auth('role') == USER_ROLE[0] %}
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">{{ __('role') }}</legend>
                        <div class="col-sm-10">
                            {% for role in roles %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input class="custom-control-input" type="radio" name="role" id="{{ role.name }}" value="{{ role.name }}" {{ loop.index == 2 ? 'checked' }}>
                                <label class="custom-control-label" for="{{ role.name }}">{{ role.name|capitalize }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>
                {% endif %}
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-dark loading">{{ __('create') }}</button>
                <button type="reset" class="btn btn-outline-dark mx-2">{{ __('reset') }}</button>
                <a href="{{ route('users.index') }}" class="btn btn-outline-dark">{{ __('cancel') }}</a>
            </div>
        </form>
    </div>
{% endblock %}