{% extends "layouts/auth.html.twig" %}

{% block title %}
	{{ __('forgot_password') }}
{% endblock %}

{% block body %}
	<div class="card mb-3">
		<div class="card-body bg-light">
			<p class="card-text">
				{{ __('reset_password_instructions') }}
			</p>
		</div>
	</div>

	<div class="card shadow p-4">
		<form method="post" action="{{ url('password/notify') }}">
			<div class="mb-3">
				<label for="email" class="form-label">{{ __('email') }}</label>
				<input type="email" id="email" name="email" class="form-control" required autofocus>
			</div>

            <div class="d-grid gap-2">
			    <button type="submit" class="btn btn-primary spinner">
                    {{ __('submit') }}
                </button>
            </div>
		</form>
	</div>
{% endblock %}
