{% extends "layouts/auth.html.twig" %}

{% block title %}
	{{ __('reset_password') }}
{% endblock %}

{% block body %}
	<div class="card shadow p-4">
		<form method="post" action="{{ url('password/update') }}">
			<div class="mb-3">
				<label for="email" class="form-label">{{ __('email') }}</label>
				<input type="email" id="email" name="email" class="form-control" value="{{ email }}" autofocus>
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">{{ __('new_password') }}</label>

				<div class="d-flex align-items-center">
					<input type="password" id="password" name="password" class="form-control">

					<span class="btn" id="password-toggler" title="Toggle display">
						<i class="fa fa-eye-slash"></i>
					</span>
				</div>
			</div>

			<div class="d-grid gap-2">
			    <button type="submit" class="btn btn-primary spinner">
                    {{ __('submit') }}
                </button>
            </div>
		</form>
	</div>
{% endblock %}
