{% extends "layouts/admin.html.twig" %}

{% block title %}
	{{ __('new') ~ ' | Administration' }}
{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">{{ __('new') }}</div>

        <form method="post" action="{{ route('tickets.create') }}">
            {{ csrf_token_input()|raw }}

            <div class="card-body">
                <div class="form-group row">
                    <label for="object" class="col-sm-2 col-form-label">{{ __('object') }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control {{ errors.object ? 'is-invalid' }}" value="{{ inputs.object ?: '' }}" aria-describedby="object-error" name="object" id="object" autofocus>
                        
                        {% if errors.object is not empty %}
                        <div id="object-error" class="invalid-feedback">
                            {{ errors.object|raw }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">{{ __('priority') }}</legend>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input class="custom-control-input" type="radio" name="priority" id="critical" value="critical">
                                <label class="custom-control-label" for="critical">{{ __('critical') }}</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input class="custom-control-input" type="radio" name="priority" id="high" value="high">
                                <label class="custom-control-label" for="high">{{ __('high') }}</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input class="custom-control-input" type="radio" name="priority" id="normal" value="normal" checked>
                                <label class="custom-control-label" for="normal">{{ __('normal') }}</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input class="custom-control-input" type="radio" name="priority" id="low" value="low">
                                <label class="custom-control-label" for="low">{{ __('low') }}</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-dark loading">{{ __('create') }}</button>
                <button type="reset" class="btn btn-outline-dark mx-2">{{ __('reset') }}</button>
                <a href="{{ route('users.index') }}" class="btn btn-outline-dark">{{ __('cancel') }}</a>
            </div>
        </form>
    </div>
{% endblock %}