{% extends "layouts/admin.html.twig" %}

{% block page_title %}
	{{ __('activities') ~ ' | Administration' }}
{% endblock %}

{% block page_content %}

	<metrics-cards>
		<metric-card-item 
            title="{{ __('total') }}" 
            icon="fa fa-user-clock fa-2x" 
            data="{{ data.getTotalItems() }}" 
            columns="4">
        </metric-card-item>
	</metrics-cards>

	<div class="card shadow-sm">
		<div class="card-header">
			<div class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-between">
				<span>{{ __('activities') }}</span>

				<div class="d-flex flex-lg-row flex-column mt-lg-0 mt-2">
					<span>
						<input type="search" class="form-control" id="filter" placeholder="{{ __('search') }}">
					</span>

					<span class="mt-lg-0 mt-2">
						<export-modal action="{{ route('activities.export') }}">
							<button class="btn btn-outline-dark mx-2">{{ __('export') }}</button>
						</export-modal>

						<button class="btn btn-danger" id="bulk-delete" data-url="{{ route('activities.delete') }}">
							{{ __('bulk_delete') }}
						</button>
					</span>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped table-hover mb-0">
					<thead>
						<tr>
							<th scope="col">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="select-all">
									<label class="custom-control-label" for="select-all"></label>
								</div>
							</th>

							<th scope="col"><i class="fa fa-sort"></i>ID</th>
							<th scope="col"><i class="fa fa-sort"></i>{{ __('user') }}</th>
							<th scope="col"><i class="fa fa-sort"></i>{{ __('url') }}</th>
							<th scope="col"><i class="fa fa-sort"></i>{{ __('ip_address') }}</th>
							<th scope="col"><i class="fa fa-sort"></i>{{ __('action') }}</th>
							<th scope="col"><i class="fa fa-sort"></i>{{ __('created_at') }}</th>
						</tr>
					</thead>

					<tbody>
						{% for data in data.getItems() %}
                        <tr>
							<td>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="{{ data.id }}" data-id="{{ data.id }}">
									<label class="custom-control-label" for="{{ data.id }}"></label>
								</div>
							</td>

							<td>{{ data.id }}</td>
							<td>{{ data.user }}</td>
							<td>{{ data.url }}</td>
							<td>{{ data.ip_address }}</td>
							<td>{{ data.action }}</td>
							<td>{{ time_elapsed(data.created_at) }}</td>
						</tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<div class="card-footer d-flex align-items-center justify-content-between">
			<span>{{ __('total_results') }} <span class="font-weight-bold">{{ data.getTotalItems() }}</span></span>
			<span>{{ __('showing') }}
				<span class="font-weight-bold">{{ data.getPageTotalItems() == 0 ? data.getFirstItem() : data.getFirstItem() + 1 }}</span>
				{{ __('to') }}
				<span class="font-weight-bold">{{ data.getPageTotalItems() + data.getFirstItem() }}</span>
			</span>

            {% include "partials/pagination.html.twig" with {pagination: data} %}
		</div>
	</div>

{% endblock %}
