{% extends "layouts/admin.html.twig" %}

{% block title %}
	{{ __('wallet')  ~ ' | Administration' }}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ resources('vendor/morris/morris.css') }}">
{% endblock %}

{% block body %}
    <metrics-card>
        <metrics-card-item 
            title="{{ __('invoices') }}" 
            icon="fa fa-file-invoice-dollar fa-2x" 
            data="{{ invoices }} {{ config('app.currency') }}"
            columns="4">
        </metrics-card-item>

        <metrics-card-item 
            title="{{ __('incomes') }}" 
            icon="fa fa-wallet fa-2x" 
            data="{{ incomes }} {{ config('app.currency') }}"
            columns="4">
        </metrics-card-item>
    </metrics-card>

    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center ">
            <span>{{ __('incomes') }}</span>

            <div class="d-flex">
                <select id="incomes-trends" class="custom-select">
                    <option value="weeks">{{ __('this_week') }}</option>
                    <option value="months" selected>{{ __('this_year') }}</option>
                    <option value="last-weeks">{{ __('last_4_weeks') }}</option>
                    <option value="last-years">{{ __('last_5_years') }}</option>
                </select>
            </div>
        </div>

        <div class="card-body">
            {% set keys, labels = ['value'], ['Count'] %}

            <bars-chart 
                id='incomes-bars-chart' 
                el='incomes-bars' 
                data={{ incomes_metrics|json_encode() }} 
                xkey='month' 
                ykeys={{ keys|json_encode() }} 
                labels={{ labels|json_encode() }}>
            </bars-chart>
        </div>
    </div>
{% endblock %}

{% block scripts %}
	<script defer src="{{ resources('vendor/morris/morris.min.js') }}"></script>
	<script defer src="{{ resources('vendor/morris/raphael-min.js') }}"></script>
{% endblock %}

